.users {
  grid-area: u;
  list-style-type: none;
  margin: 0;
  padding: 20px 0 0 20px;
  border-right: 3px #0050B3 solid;
  font-size: 24px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.users::-webkit-scrollbar {
  display: none;
}