.nav {
  grid-area: n;
  background: #E5E5E5;
  padding: 20px 20px 0;
}

.item {
  margin-bottom: 20px;
}

.item:nth-last-child(1) {
  margin: 40px 0 0;
}

.link {
  color: #000000;
  text-decoration: none;
  transition: all .3s linear;
}

.link_active {
  color: #0050B3;
  text-decoration: none;
  margin-left: 5px;
  transition: all .3s linear;
}