.friends {
  margin-top: 40px;
}

.title {
  margin: 0;
  text-align: center;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 40vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}